body {
	font-family: Helvetica, Arial, sans-serif;
	margin: 20px;
}

h1 {
	display: inline-block;
	margin-top: 5px;
	margin-bottom: 10px;
	margin-right: 10px;
	font-size: 1.75em;
}

.title {
	float: left;
}

.author {
	font-weight: 500;
}

.sidebar {
	height: 100%;
	width: 30%;
	position: fixed;
	z-index: 1; /* Stay on top */
	top: 0; /* Stay at the top */
	right: 0;
	background-color: #e8e8e8;
	color: #666666;
	overflow-x: hidden;
	padding-top: 20px;
}

.sidebar h2, .sidebar p {
	margin: 10px 20px 10px 20px;
	width: 90%;
}

.sidebar ul {
    margin: 10px 20px 10px 10px;
}

li {
	padding: 5px 0 5px 0;
}

h2, p {
	margin: 10px 0 10px 0;
	width: 70%;
}

#Vis1Chart, #Vis3Chart {
	width: 70%;
}

.vis text {
	font-size: 10px;
}

.vis text .active {
	fill: red;
}

.vis ul {
    width: 65%;
}

#Vis1Chart .axis-left path, .axis-left line, .axis-top path, .axis-top line {
	stroke: transparent;
}